<body>
  <div class="container">
    <h1>Thank you for visiting Keep Up</h1>
    <h5>The amazing app will allow you to do the following: </h5>
    <div class="row">

      <div class="col-sm-4">
        <div class="card">
          Keep track of your memories and your daily stories using the creat stories feature. It is an amazing feature
          that
          will allow you to stay upto date on your memories
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          It just does not stop there. Another nice feature is to keep track of your daily spendigs. Visit the add
          expense
          column and keep track of how much money you spend, on what item.
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          Finally, My favourite feature of it all is the calorie tracker. If you are fitness freak like I am, You will
          really appriecite the feature for tracking your daily calorie.
        </div>
      </div>
    </div>
  </div>
</body>
